* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: mySeccondFont;
}
@font-face {
    font-family: myFirstFont;
    src: url(./assets/fonts/AnandaBlack.ttf);
  }
  @font-face {
    font-family: mySeccondFont;
    src: url(./assets/fonts/Roboto-Medium.ttf);
  }
h1{
    color: white;
    padding: 0px 200px;
    font-family: myFirstFont;
}

#div_header{
    background-color: #76B3F7;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.text_header{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.text_header:hover{
    font-weight: bold;

}
#block_href{
    padding: 0px 200px;
    font-size: 25px;
}
body{
    background-image: url(./assets/images/bowling_field.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#block_presentation{
    border: 3px rgb(255, 255, 255) solid;
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin: 200px;
}
